pkgbase = bluez-qt
	pkgdesc = Qt wrapper for Bluez 5 DBus API
	pkgver = 5.246.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf6
	license = GPL2
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = qt6-declarative
	makedepends = qt6-doc
	makedepends = qt6-tools
	depends = bluez
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	source = https://download.kde.org/unstable/frameworks/5.246.0/bluez-qt-5.246.0.tar.xz
	source = https://download.kde.org/unstable/frameworks/5.246.0/bluez-qt-5.246.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	sha256sums = bcec88a1750a797e81aab50ea48bb84f3b9fe23ea19294285303c2a731ea1655
	sha256sums = SKIP

pkgname = bluez-qt
